:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #6582a5;
    --cor-de-fundo: #71747e;
    --botao-roxo: #c084e9;
      

}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(bts-heading.jpg);
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    background-position: center center;


}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container_botao{
    background-color: var(--botao-roxo);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}
.titulo{
    text-align: center;
   color: var(--branco-principal);
}
.container_botao-1{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
}
